Mokojo.RemoteClient/Service References/RemoteControlClient/Mokojo.RemoteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mokojo.RemoteService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mokojo.RemoteService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RemoteCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteCommand" nillable="true" type="tns:RemoteCommand" />
</xs:schema>